# .github/workflows/ci.yml

name: CI - Retrain MLflow Model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  mlflow_retrain:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      
    steps:
      
      # 1. Run actions/checkout@v4
      - name: Run actions/checkout@v4
        uses: actions/checkout@v4
        with:
          repository: ketutadinata/Eksperimen_SML_I_Ketut_Adinata_Vyarsa
          path: Eksperimen_SML_I_Ketut_Adinata_Vyarsa
          ref: main 
          token: ${{ secrets.REPO_ACCESS_TOKEN }} 

      # 2. Set up Miniconda Environment (Menggantikan 'Set up Python...')
      - name: Set up Miniconda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          # Langkah ini hanya untuk menyediakan environment Conda dasar
          auto-activate-base: false
          
      # 3. Set Environment Variables (Menggantikan 'Check Env' dan 'Set MLflow Tracking URI')
      - name: Set Environment Variables
        run: |
          echo "DAGSHUB_USER=${{ secrets.DAGSHUB_USER }}" >> $GITHUB_ENV
          echo "DAGSHUB_TOKEN=${{ secrets.DAGSHUB_TOKEN }}" >> $GITHUB_ENV
          echo "KAGGLE_USERNAME=${{ secrets.KAGGLE_USERNAME }}" >> $GITHUB_ENV
          echo "KAGGLE_KEY=${{ secrets.KAGGLE_KEY }}" >> $GITHUB_ENV

      # 4. Run mlflow project (Menggabungkan 'Install dependencies' & 'Run mlflow project')
      # MLflow akan membuat environment baru dan menginstal dependencies (conda.yaml + requirements.txt)
      - name: Run mlflow project
        working-directory: Eksperimen_SML_I_Ketut_Adinata_Vyarsa
        run: |
          # Perintah ini akan memicu pembuatan environment baru yang terjamin lengkap (termasuk kagglehub)
          mlflow run . --experiment-name CI_Retrain
        
      # 5. Copy & Upload Artifacts (Menggantikan 'Upload to Google Drive')
      - name: Upload Artifacts
        run: |
          # Copy Artefak
          mkdir -p final_artifacts
          cp Eksperimen_SML_I_Ketut_Adinata_Vyarsa/artifacts/best_model.pkl final_artifacts/
          cp Eksperimen_SML_I_Ketut_Adinata_Vyarsa/artifacts/scaler.pkl final_artifacts/

          # Upload ke GitHub Artifacts
          actions/upload-artifact@v4 upload --name model-best-artifact --path final_artifacts/ --retention-days 7