name: CI - Preprocessing & Retrain MLflow Model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  preprocessing_and_train:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo MLProject (modelling)
      - name: Checkout Modelling Repo
        uses: actions/checkout@v4

      # 2. Setup Miniconda & environment
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          environment-file: MLProject/conda.yaml
          activate-environment: mlflow-env

      # 3. Set secrets untuk DAGSHUB/KAGGLE
      - name: Set environment variables
        run: |
          echo "DAGSHUB_USER=${{ secrets.DAGSHUB_USER }}" >> $GITHUB_ENV
          echo "DAGSHUB_TOKEN=${{ secrets.DAGSHUB_TOKEN }}" >> $GITHUB_ENV
          echo "KAGGLE_USERNAME=${{ secrets.KAGGLE_USERNAME }}" >> $GITHUB_ENV
          echo "KAGGLE_KEY=${{ secrets.KAGGLE_KEY }}" >> $GITHUB_ENV

      # 4. Checkout repo Eksperimen_SML agar bisa pakai preprocessing
      - name: Checkout Eksperimen_SML Repo
        uses: actions/checkout@v4
        with:
          repository: ketutadinata1811/Eksperimen_SML_I_Ketut_Adinata_Vyarsa
          path: Eksperimen_SML_I_Ketut_Adinata_Vyarsa

      # 5. Jalankan preprocessing dari repo Eksperimen_SML
      - name: Run preprocessing
        working-directory: Eksperimen_SML_I_Ketut_Adinata_Vyarsa
        run: |
          conda run -n mlflow-env python preprocessing.py
          echo "Preprocessing selesai, artifacts dibuat di folder Eksperimen_SML_I_Ketut_Adinata_Vyarsa/artifacts/"

      # 6. Copy dataset hasil preprocessing ke repo modelling
      - name: Copy preprocessed dataset
        run: |
          mkdir -p MLProject/namadataset_preprocessing
          cp Eksperimen_SML_I_Ketut_Adinata_Vyarsa/artifacts/train_preprocessed.csv MLProject/namadataset_preprocessing/
          cp Eksperimen_SML_I_Ketut_Adinata_Vyarsa/artifacts/test_preprocessed.csv MLProject/namadataset_preprocessing/
          cp Eksperimen_SML_I_Ketut_Adinata_Vyarsa/artifacts/scaler.pkl MLProject/namadataset_preprocessing/

      # 7. Jalankan modelling_tuning.py dari repo MLProject
      - name: Run modelling_tuning
        working-directory: MLProject
        run: |
          conda run -n mlflow-env python modelling_tuning.py
          echo "Modelling_tuning selesai, model dan metrics telah dilog ke DAGSHUB"
